@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Varela';
}

.wrapper {
  width: 100%;
}

.Navbar {
  height: 60px;
}

.Main {
  min-height: 100vh;
}
