@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', 'Century gothic';
}

.wrapper {
  width: 100%;
}

.Navbar {
  height: 60px;
}

.Main {
  min-height: 100vh;
}

.link,
.link:hover {
  color: white;
}
